<div class="row">
	<div class="col-xs-12 col-md-12 col-lg-12">
		<div class="wrapper chat-side">
			<% @messages.each{ |message| %>
				
				<%= render 'bubble', 
					dim: current_user.id == message.user_id ? 'right' : 'left', 
					text: message.text, 
					username: message.user.username, 
					created_at: message.created_at 
				%>
			
			<% } %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-12 col-lg-12">
	<label>Type your message from the form bellow to have a conversation:</label>
	<%= render 'form' %>
	</div>
</div>
